.name1{
    color: red;
}
.name2{
    width: 180px;
    border: 0px;
    height: 23px;
}
.name5{
    background-color: yellow;
}
.name12{
    background-color: red;
}
.name6{
    background-color: green;
}
.name7{
    background-color:rgb(169, 69, 219) ;
}